.main{
    text-align: center;
    font-size: 100px;

    background-color: #b9b9b9;
    border-radius: 10px;
    border: 1px black solid;
}
.text{
    text-shadow:
            1px 1px 0 hsl(20,100%,50%),
            2px 2px 0 hsl(20,100%,50%),
            3px 3px 0 hsl(35,100%,50%),
            4px 4px 0 hsl(35,100%,50%),
            5px 5px 0 hsl(45,100%,50%),
            6px 6px 0 hsl(45,100%,55%),
            7px 7px 0 hsl(55,100%,60%),
            8px 8px 0 hsl(55,100%,65%);
    color: hsl(0,0%,90%);
    transition: all 1s;
}

.text:hover {
    text-shadow:
            1px -1px 0 hsl(290,100%,40%),
            2px -2px 0 hsl(290,100%,40%),
            3px -3px 0 hsl(280,100%,60%),
            4px -4px 0 hsl(280,100%,60%),
            5px -5px 0 hsl(270,100%,75%),
            6px -6px 0 hsl(270,100%,80%),
            7px -7px 0 hsl(260,100%,85%),
            8px -8px 0 hsl(260,100%,90%);
    color: hsl(300,100%,30%);
}

.hitFloor {
    color: #fff;
    font-size: 100px;
    font-weight: bold;
    text-shadow:
            0 1px 0 #ccc,
            0 2px 0 #c9c9c9,
            0 3px 0 #bbb,
            0 4px 0 #b9b9b9,
            0 5px 0 #aaa,
            0 6px 1px rgba(0,0,0,.1),
            0 0 5px rgba(0,0,0,.1),
            0 1px 3px rgba(0,0,0,.3),
            0 3px 5px rgba(0,0,0,.2),
            0 5px 10px rgba(0,0,0,.25),
            0 10px 10px rgba(0,0,0,.2),
            0 20px 20px rgba(0,0,0,.15);

    text-align: center;
}



